{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <div class="multiline">{{ author.info }}</div>
    <hr>
    {% if author.edumaterial_set.count > 0 %}
        <ul>
            {% for material in author.edumaterial_set.all %}
                <li> <a href="{{ material.get_absolute_url }}">{{ material }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This author didn't write anything yet.</p>
    {% endif %}
{% endblock %}