{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Обновление информации об экземпляре книги</title>
{% endblock %}

{% block content %}
    <h1>Обновить: {{ bookinstance.book.title }}</h1>
    <p>Кто взял: {{ bookinstance.borrower }}</p>
    <p{% if bookinstance.is_overdue %} class="text-danger"{% endif %}>Вернуть до: {{ bookinstance.due_back }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <ul class="info-list">
            {{ form.as_ul }}
        </ul>
        <input type="submit" value="Обновить">
    </form>
{% endblock %}
