{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.info }}</p>
    <br>

    {% if category.category_set.count > 0 %}
        {# If we have some subcategories #}
        {% for subcategory in category.category_set.all %}
            <h4><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></h4>
            <p>{{ subcategory.info }}</p>
            <br>
        {% endfor %}
    {% else %}
        {# If there is no subcategories, show the materials #}
        <ul>
            {% for material in category.edumaterial_set.all %}
                <hr>
                <li><a href="{{ material.get_absolute_url }}">{{ material.title }}</a>
                    (<a href="{{ material.author.get_absolute_url }}">{{ material.author }}</a>) -
                    <strong>{{ material.get_access_type_display }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <p>
            <a href="{{ category.get_absolute_url_for_subscribe }}">
                Subscribe to be notified when new materials appear in this category
            </a>
        </p>
    {% endif %}
{% endblock %}