{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1>Welcome!</h1>
    <p>Here you can find tutorials and educational materials about many topics that students of
    technical universities learn: Physics, Math, Programming, Circuit technology etc.</p>

    <form class="search" action="{% url 'search-material' %}" method='get'>
        <label>
            <input type="search"
                   placeholder="Enter the keyword..."
                   name="usr_query"
                   value='{{ query }}' required>
        </label>
        <button type="submit">Search</button>
    </form>
{% endblock %}