{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Банк учебных материалов</title>
{% endblock %}

{% block content %}
    <h1>Банк учебных материалов</h1>
    <p>Добро пожаловать!</p>
    <h2>Динамический контент</h2>
    <p>Информация о том, что есть в библиотеке:</p>
    <!-- <ul class="info-list"> -->
    <ul>
        <li><strong>Книг:</strong> {{ num_books }}</li>
        <li><strong>Книг с упоминанием Jojo:</strong> {{ num_books_with_jojo }}</li>
        <li><strong>Экземпляров книг:</strong> {{ num_instances }}</li>
        <li><strong>Доступных в данный момент экземпляров:</strong> {{ num_instances_available }}</li>
        <li><strong>Авторов:</strong> {{ num_authors }}</li>
        <li><strong>Жанров:</strong> {{ num_genres }}</li>
    </ul>

    <div class="bottom">
        Вы посетили этот сайт {{ num_user_visits }} раз.
    </div>
{% endblock %}